<%= form_for(@quot) do |f| %>
  <% if @quot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quot.errors.count, "error") %> prohibited this quot from being saved:</h2>

      <ul>
      <% @quot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quot_number %><br>
    <%= f.text_field :quot_number %>
  </div>
  <div class="field">
    <%= f.label :customer %><br>
    <%= f.text_field :customer %>
  </div>
  <div class="field">
    <%= f.label :representative %><br>
    <%= f.text_field :representative %>
  </div>
  <div class="field">
    <%= f.label :issued %><br>
    <%= f.date_select :issued %>
  </div>
  <div class="field">
    <%= f.label :consumption_tax %><br>
    <%= f.number_field :consumption_tax %>
  </div>
  <div class="field">
    <%= f.label :total_amount %><br>
    <%= f.number_field :total_amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
