<h1>Listing quots</h1>

<table>
  <thead>
    <tr>
      <th>Quot number</th>
      <th>Customer</th>
      <th>Representative</th>
      <th>Issued</th>
      <th>Consumption tax</th>
      <th>Total amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quots.each do |quot| %>
      <tr>
        <td><%= quot.quot_number %></td>
        <td><%= quot.customer %></td>
        <td><%= quot.representative %></td>
        <td><%= quot.issued %></td>
        <td><%= quot.consumption_tax %></td>
        <td><%= quot.total_amount %></td>
        <td><%= link_to 'Show', quot %></td>
        <td><%= link_to 'Edit', edit_quot_path(quot) %></td>
        <td><%= link_to 'Destroy', quot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quot', new_quot_path %>
