<p id="notice"><%= notice %></p>

<p>
  <strong>Quot number:</strong>
  <%= @quot.quot_number %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quot.customer %>
</p>

<p>
  <strong>Representative:</strong>
  <%= @quot.representative %>
</p>

<p>
  <strong>Issued:</strong>
  <%= @quot.issued %>
</p>

<p>
  <strong>Consumption tax:</strong>
  <%= @quot.consumption_tax %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @quot.total_amount %>
</p>

<%= link_to 'Edit', edit_quot_path(@quot) %> |
<%= link_to 'Back', quots_path %>
