<%= form_for(@quotdetail) do |f| %>
  <% if @quotdetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quotdetail.errors.count, "error") %> prohibited this quotdetail from being saved:</h2>

      <ul>
      <% @quotdetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quot_number %><br>
    <%= f.text_field :quot_number %>
  </div>
  <div class="field">
    <%= f.label :product_name %><br>
    <%= f.text_field :product_name %>
  </div>
  <div class="field">
    <%= f.label :unit_price %><br>
    <%= f.number_field :unit_price %>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :extended_price %><br>
    <%= f.number_field :extended_price %>
  </div>
  <div class="field">
    <%= f.label :quot_id %><br>
    <%= f.text_field :quot_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
