<h1>Listing quotdetails</h1>

<table>
  <thead>
    <tr>
      <th>Quot number</th>
      <th>Product name</th>
      <th>Unit price</th>
      <th>Unit</th>
      <th>Quantity</th>
      <th>Extended price</th>
      <th>Quot</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotdetails.each do |quotdetail| %>
      <tr>
        <td><%= quotdetail.quot_number %></td>
        <td><%= quotdetail.product_name %></td>
        <td><%= quotdetail.unit_price %></td>
        <td><%= quotdetail.unit %></td>
        <td><%= quotdetail.quantity %></td>
        <td><%= quotdetail.extended_price %></td>
        <td><%= quotdetail.quot %></td>
        <td><%= link_to 'Show', quotdetail %></td>
        <td><%= link_to 'Edit', edit_quotdetail_path(quotdetail) %></td>
        <td><%= link_to 'Destroy', quotdetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quotdetail', new_quotdetail_path %>
