<p id="notice"><%= notice %></p>

<p>
  <strong>Quot number:</strong>
  <%= @quotdetail.quot_number %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @quotdetail.product_name %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @quotdetail.unit_price %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @quotdetail.unit %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @quotdetail.quantity %>
</p>

<p>
  <strong>Extended price:</strong>
  <%= @quotdetail.extended_price %>
</p>

<p>
  <strong>Quot:</strong>
  <%= @quotdetail.quot %>
</p>

<%= link_to 'Edit', edit_quotdetail_path(@quotdetail) %> |
<%= link_to 'Back', quotdetails_path %>
